In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
data = gpd.read_file("tl_2020_47_tract.shp")

In [3]:
print(data.columns.tolist())

['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry']

In [4]:
data.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,47,175,925200,47175925200,9252,Census Tract 9252,G5020,S,227429512,1667739,+35.7438100,-085.4940227,"POLYGON ((-85.61516 35.76106, -85.61509 35.761..."
1,47,175,925000,47175925000,9250,Census Tract 9250,G5020,S,480712883,1225717,+35.6695378,-085.4220628,"POLYGON ((-85.60513 35.70854, -85.60511 35.708..."
2,47,003,950201,47003950201,9502.01,Census Tract 9502.01,G5020,S,121774227,0,+35.6517480,-086.5575518,"POLYGON ((-86.64406 35.64029, -86.64375 35.642..."
3,47,003,950202,47003950202,9502.02,Census Tract 9502.02,G5020,S,110617191,700793,+35.5845755,-086.5790796,"POLYGON ((-86.66377 35.58189, -86.66367 35.582..."
4,47,093,003300,47093003300,33,Census Tract 33,G5020,S,5860088,229299,+36.0020586,-083.8371218,"POLYGON ((-83.86208 35.99255, -83.86207 35.992..."

In [5]:
print(data.dtypes)
print(data.info())

STATEFP       object
COUNTYFP      object
TRACTCE       object
GEOID         object
NAME          object
NAMELSAD      object
MTFCC         object
FUNCSTAT      object
ALAND          int64
AWATER         int64
INTPTLAT      object
INTPTLON      object
geometry    geometry
dtype: object
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1701 entries, 0 to 1700
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATEFP   1701 non-null   object
 1   COUNTYFP  1701 non-null   object
 2   TRACTCE   1701 non-null   object
 3   GEOID     1701 non-null   object
 4   NAME      1701 non-null   object
 5   NAMELSAD  1701 non-null   object
 6   MTFCC     1701 non-null   object
 7   FUNCSTAT  1701 non-null   object
 8   ALAND     1701 non-null   int64
 9   AWATER    1701 non-null   int64
 10  INTPTLAT  1701 non-null   object
 11  INTPTLON  1701 non-null   object
 12  geometry  1701 non-null   geometry
dtypes: geometry(1), int64(2), object(10)
memory usage: 172.9+ KB
None

In [6]:
census = pd.read_csv('census.csv')

In [7]:
print(census.columns.tolist())

['GEOID', 'NAME', 'Households', '<10k', 'Median', 'Mean', 'Desert']

In [8]:
print(census.dtypes)
print(census.info())

GEOID           int64
NAME          float64
Households      int64
<10k          float64
Median         object
Mean            int64
Desert           bool
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEOID       171 non-null    int64
 1   NAME        171 non-null    float64
 2   Households  171 non-null    int64
 3   <10k        171 non-null    float64
 4   Median      171 non-null    object
 5   Mean        171 non-null    int64
 6   Desert      171 non-null    bool
dtypes: bool(1), float64(2), int64(3), object(1)
memory usage: 8.3+ KB
None

In [9]:
data['GEOID'] = data['GEOID'].astype(np.int64)

NameError: name 'int64' is not defined

In [ ]:
census.head()

In [ ]:
#keepers = ['GEOID', 'NAME', 'geometry']
#data = pd.DataFrame(data, columns= keepers)
#data = df.rename(columns={"NAME":"Tract", "geometry":"Geometry"})
#data.head()

In [ ]:
df = pd.merge(data, census, on='NAME')

In [ ]:
df

In [ ]:
output_file = 'map.geojson'
data.to_file(output_file, driver='GeoJSON')